<% helpers.includeCss("plugins/licenseTag/licenseTag.css"); %>
<a href="javascript:void(0)" title="Select license" onclick="licenseTag.licenseTagClicked();"><img src="/static/html/plugins/licenseTag/editbar_licensetag.gif"></a>
<div id="licenseTag-license-selector">
  <ul>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('[1]');">(Seifert, K.-H., Bergmann, C. & Eder, F. (1984). Struktur, Entwicklung und Bedingungen der Berufs</a></li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('[2]');">Bleuel, Jens (1996). Zitieren von Quellen im Internet.</a> </li>
   <li><a href="javascript:void(0)" onclick="licenseTag.licenseTagSelectLicenseClicked('[3]');">Bleuel, Jens (1996). Zitieren von Quellen im Internet.</li>

  </ul>
</div>
